<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Softmax.XMessager</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/vendor/bootstrap/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/vendor/font-awesome/css/font-awesome.min.css" />
        <link rel="stylesheet" href="~/vendor/datatables/dataTables.bootstrap4.css" />
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.3/css/bootstrap-select.min.css" />
        <link rel="stylesheet" href="~/css/sb-admin.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
     
    </environment>

</head>
<body class="fixed-nav sticky-footer bg-dark" id="page-top">
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
        <a class="navbar-brand" href="index.html">SBC Collections</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav navbar-sidenav" id="sbcAccordion">
                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">
                    <a class="nav-link" href="/">
                        <i class="fa fa-fw fa-dashboard"></i>
                        <span class="nav-link-text">Dashboard</span>
                    </a>
                </li>
                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Settings">
                    <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#settingsComponents" data-parent="#sbcAccordion">
                        <i class="fa fa-fw fa-wrench"></i>
                        <span class="nav-link-text">Settings</span>
                    </a>
                    <ul class="sidenav-second-level collapse" id="settingsComponents">
                        <li>
                            @Html.ActionLink("Branches", "Index", "Branches")
                        </li>
                        <li>
                            @Html.ActionLink("Products", "Index", "Products")
                        </li>
                     
                        <li>
                            @Html.ActionLink("Designations", "Index", "Designations")
                        </li>
                        
                        <li>
                            @Html.ActionLink("Bulk Uploads", "Index", "Uploads")
                        </li>

                    </ul>
                </li>
                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Manage Users">
                    <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#usersComponents" data-parent="#sbcAccordion">
                        <i class="fa fa-fw fa-users"></i>
                        <span class="nav-link-text">Manage Users</span>
                    </a>
                    <ul class="sidenav-second-level collapse" id="usersComponents">
                        <li>
                            @Html.ActionLink("Employees", "Index", "Employees")
                        </li>
                        <li>
                            @Html.ActionLink("Customers", "Index", "Customers")
                        </li>
                    </ul>
                </li>
                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Manage Savings">
                    <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#depositsComponents" data-parent="#sbcAccordion">
                        <i class="fa fa-fw fa-bank"></i>
                        <span class="nav-link-text">Manage Savings</span>
                    </a>
                    <ul class="sidenav-second-level collapse" id="depositsComponents">
                        <li>
                            @Html.ActionLink("Deposits/Withdrawals", "Index", "Savings")
                        </li>
                        <li>
                            @Html.ActionLink("Confirmations", "Confirmation", "Savings")
                        </li>
                    </ul>
                </li>
                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Manage Loans">
                    <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#loanComponents" data-parent="#sbcAccordion">
                        <i class="fa fa-fw fa-money"></i>
                        <span class="nav-link-text">Manage Loans</span>
                    </a>
                    <ul class="sidenav-second-level collapse" id="loanComponents">
                        <li>
                            @Html.ActionLink("Requests/Refunds", "Index", "Loans")
                        </li>

                        <li>
                            @Html.ActionLink("Approvals", "Approvals", "Loans")
                        </li>
                        <li>
                            @Html.ActionLink("Comfirmations", "Confirms", "Loans")
                        </li>
                    </ul>
                </li>
                
                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Manage Reports">
                    <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#reportComponents" data-parent="#sbcAccordion">
                        <i class="fa fa-fw fa-bar-chart"></i>
                        <span class="nav-link-text"> Reports </span>
                    </a>
                    <ul class="sidenav-second-level collapse" id="reportComponents">
                        <li>
                            @Html.ActionLink("Cash Flow", "Cash", "Reports")
                        </li>

                        <li>
                            @Html.ActionLink("Performance", "Performance", "Reports")
                        </li>
                        <li>
                            @Html.ActionLink("Profitabiliy", "Profit", "Reports")
                        </li>
                        <li>
                            @Html.ActionLink("Summary", "Summary", "Reports")
                        </li>
                    </ul>
                </li>

            </ul>
            <ul class="navbar-nav sidenav-toggler">
                <li class="nav-item">
                    <a class="nav-link text-center" id="sidenavToggler">
                        <i class="fa fa-fw fa-angle-left"></i>
                    </a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle mr-lg-2" id="messagesDropdown" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-fw fa-envelope"></i>
                        <span class="d-lg-none">
                            Credits
                            <span class="badge badge-pill badge-primary">12 SMS</span>
                        </span>
                        <span class="indicator text-primary d-none d-lg-block">
                            <i class="fa fa-fw fa-circle"></i>
                        </span>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="messagesDropdown">
                        <h6 class="dropdown-header">New Messages:</h6>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">
                            <strong>David Miller</strong>
                            <span class="small float-right text-muted">11:21 AM</span>
                            <div class="dropdown-message small">Hey there! This new version of SB Admin is pretty awesome! These messages clip off when they reach the end of the box so they don't overflow over to the sides!</div>
                        </a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">
                            <strong>Jane Smith</strong>
                            <span class="small float-right text-muted">11:21 AM</span>
                            <div class="dropdown-message small">I was wondering if you could meet for an appointment at 3:00 instead of 4:00. Thanks!</div>
                        </a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">
                            <strong>John Doe</strong>
                            <span class="small float-right text-muted">11:21 AM</span>
                            <div class="dropdown-message small">I've sent the final files over to you for review. When you're able to sign off of them let me know and we can discuss distribution.</div>
                        </a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item small" href="#">View all messages</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle mr-lg-2" id="alertsDropdown" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-fw fa-bell"></i>
                        <span class="d-lg-none">
                            Alerts
                            <span class="badge badge-pill badge-warning">6 New</span>
                        </span>
                        <span class="indicator text-warning d-none d-lg-block">
                            <i class="fa fa-fw fa-circle"></i>
                        </span>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="alertsDropdown">
                        <h6 class="dropdown-header">New Alerts:</h6>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">
                            <span class="text-success">
                                <strong>
                                    <i class="fa fa-long-arrow-up fa-fw"></i>Status Update
                                </strong>
                            </span>
                            <span class="small float-right text-muted">11:21 AM</span>
                            <div class="dropdown-message small">This is an automated server response message. All systems are online.</div>
                        </a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">
                            <span class="text-danger">
                                <strong>
                                    <i class="fa fa-long-arrow-down fa-fw"></i>Status Update
                                </strong>
                            </span>
                            <span class="small float-right text-muted">11:21 AM</span>
                            <div class="dropdown-message small">This is an automated server response message. All systems are online.</div>
                        </a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">
                            <span class="text-success">
                                <strong>
                                    <i class="fa fa-long-arrow-up fa-fw"></i>Status Update
                                </strong>
                            </span>
                            <span class="small float-right text-muted">11:21 AM</span>
                            <div class="dropdown-message small">This is an automated server response message. All systems are online.</div>
                        </a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item small" href="#">View all alerts</a>
                    </div>
                </li>
                <li class="nav-item">
                    @Html.Partial("_LoginPartial")
                </li>
                
            </ul>
        </div>
    </nav>

    <div class="content-wrapper">
        @RenderBody()
        
        <footer class="sticky-footer">
            <div class="container">
                <div class="text-center">
                    <small>Copyright © SBC 2017</small>
                </div>
            </div>
        </footer>
        <!-- Scroll to Top Button-->
        <a class="scroll-to-top rounded" href="#page-top">
            <i class="fa fa-angle-up"></i>
        </a>
        <!-- Logout Modal-->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                        <a class="btn btn-primary" href="login.html">Logout</a>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <environment include="Development">
        @*<script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>*@
        <script src="~/vendor/jquery/jquery.min.js"></script>
        <script src="~/lib/jquery-validation/jquery.validate.js"></script>
        <script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="~/vendor/jquery-easing/jquery.easing.min.js"></script>
        <script src="~/vendor/chart.js/Chart.min.js"></script>
        <script src="~/vendor/datatables/jquery.dataTables.js"></script>
        <script src="~/vendor/datatables/dataTables.bootstrap4.js"></script>
        <script src="~/js/sb-admin.min.js"></script>
        <script src="~/js/sb-admin-datatables.min.js"></script>
        <script src="~/js/sb-admin-charts.min.js"></script>
        <script src="~/vendor/jquery/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/bootstrap-select.min.js"></script>
        @*<script src="~/js/site.js" asp-append-version="true"></script>*@
    </environment>
    <environment exclude="Development">
        @*<script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>*@
    </environment>

    @*@RenderSection("Scripts", required: false)*@
</body>

</html>
