@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@using System.Globalization
@inject UserManager<ApplicationUser> UserManager
<div class="table-responsive">
   
    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
        <tr>
            <th>Date</th>
            @if (await UserManager.IsInRoleAsync(await UserManager.FindByNameAsync(User.Identity.Name), "Admin"))
            {
                <th>Client</th>
            }
            
            <th>Amount</th>
            <th>Payment Method</th>
            <th>Payment Status</th>
            <th></th>
        </tr>
        </thead>
        <tfoot>
        <tr>
            <th>Date</th>
            @if (await UserManager.IsInRoleAsync(await UserManager.FindByNameAsync(User.Identity.Name), "Admin"))
            {
                <th>Client</th>
            }
            <th>Amount</th>
            <th>Payment Method</th>
            <th>Payment Status</th>
            <th></th>
        </tr>
        </tfoot>
        <tbody>
        @if (ViewBag.Payments != null)
        {
            foreach (var item in ViewBag.Payments)
            {
                <tr>
                    <td>
                        @item.DateCreated
                    </td>
                    @if (await UserManager.IsInRoleAsync(await UserManager.FindByNameAsync(User.Identity.Name), "Admin"))
                    {
                        <td>
                            @item.Client.Company
                        </td>
                    }    
                    <th>@item.Amount.ToString("C", new CultureInfo("en-NG"))</th>
                    <th>@item.PaymentMethod</th>
                    <td>
                         @item.PaymentStatus
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.PaymentId }, new { @class = "btn btn-outline-primary btn-sm" })
                    </td>
                </tr>
            }
        }
        </tbody>
    </table>
</div>