@using System.Globalization
@using Microsoft.AspNetCore.Identity
@using Softmax.XNotifi.Models
@using Softmax.XNotifi.Data

@inject UserManager<ApplicationUser> UserManager

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Softmax.XNotifi</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/vendor/bootstrap/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/vendor/font-awesome/css/font-awesome.min.css" />
        <link rel="stylesheet" href="~/vendor/datatables/dataTables.bootstrap4.css" />
        @*<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.3/css/bootstrap-select.min.css" />*@
        <link rel="stylesheet" href="~/css/sb-admin.css" />
        @*<link rel="stylesheet" href="~/css/site.css" />*@
    </environment>
    <environment exclude="Development">
     
    </environment>

</head>
<body class="fixed-nav sticky-footer bg-dark" id="page-top">
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
        <a class="navbar-brand" href="/">Softmax XNotifi</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav navbar-sidenav" id="sbcAccordion">
                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">
                    <a class="nav-link" href="/">
                        <i class="fa fa-fw fa-dashboard"></i>
                        <span class="nav-link-text">Dashboard</span>
                    </a>
                </li>
                @if (await UserManager.IsInRoleAsync(await UserManager.FindByNameAsync(User.Identity.Name), "Admin"))
                {
                    <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Gateways">
                        @Html.ActionLink(" Gateways", "Index", "Gateways", null, new {@class = "nav-link nav-link-text fa fa-handshake-o"})
                    </li>
                    <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Clients">
                        @Html.ActionLink(" Clients", "Index", "Account", null, new { @class = "nav-link nav-link-text fa fa-users" })
                    </li>
                }
                
                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Applications">
                    @Html.ActionLink(" Applications", "Index", "Applications", null, new {@class= "nav-link nav-link-text fa fa-desktop" })
                </li>
                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Applications">
                    @Html.ActionLink(" Transactions", "Index", "Payments", null, new {@class= "nav-link nav-link-text fa fa-money" })
                </li>
            </ul>
            <ul class="navbar-nav sidenav-toggler">
                <li class="nav-item">
                    <a class="nav-link text-center" id="sidenavToggler">
                        <i class="fa fa-fw fa-angle-left"></i>
                    </a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
             
                <li class="nav-item">
                    @Html.Partial("_LoginPartial")
                </li>
                
            </ul>
        </div>
    </nav>

    <div class="content-wrapper">
        @RenderBody()
        
        <footer class="sticky-footer">
            <div class="container">
                <div class="text-center">
                    <small>Copyright © Softmax Technologies @DateTime.Now.Year</small>
                </div>
            </div>
        </footer>
        <!-- Scroll to Top Button-->
        <a class="scroll-to-top rounded" href="#page-top">
            <i class="fa fa-angle-up"></i>
        </a>
    <environment include="Development">
        <script src="~/vendor/jquery/jquery.min.js"></script>
        <script src="~/lib/jquery-validation/jquery.validate.js"></script>
        <script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="~/vendor/jquery-easing/jquery.easing.min.js"></script>
        <script src="~/vendor/chart.js/Chart.min.js"></script>
        <script src="~/vendor/datatables/jquery.dataTables.js"></script>
        <script src="~/vendor/datatables/dataTables.bootstrap4.js"></script>
        <script src="~/js/sb-admin.min.js"></script>
        <script src="~/js/sb-admin-datatables.min.js"></script>
        <script src="~/js/sb-admin-charts.min.js"></script>
    </environment>
    <environment exclude="Development">
       
    </environment>
 </div>
</body>
</html>
