
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@model Softmax.XNotifi.Models.ClientModel
@{
    ViewBag.Title = "Update Profile";
}
<div class="row" style="padding-top:45px">
    <div class="col-md-2"></div>

    <div class="col-md-4">

        <h2>@ViewBag.Title</h2>
        @using (Html.BeginForm("Edit", "Account", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.ClientId)
            @Html.HiddenFor(model => model.AspnetUserId)
            @Html.HiddenFor(model => model.DateCreated)
            @Html.HiddenFor(model => model.EmailAddress)
            @Html.HiddenFor(model => model.AccessKey)
            @Html.HiddenFor(model => model.IsActive)


            <div class="form-horizontal">

                @Html.ValidationSummary(true)
                <div class="form-group">
                    @Html.LabelFor(model => model.FirstName, new { @class = "control-label col-md-4" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control", placeholder = "Enter First Name" })
                        @Html.ValidationMessageFor(model => model.FirstName)
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.LastName, new { @class = "control-label col-md-4" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.LastName, new { @class = "form-control", placeholder = "Enter Last Name" })
                        @Html.ValidationMessageFor(model => model.LastName)
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Company, new { @class = "control-label col-md-4" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.Company, new { @class = "form-control", placeholder = "Enter Organistaion Name" })
                        @Html.ValidationMessageFor(model => model.Company)
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Address, new { @class = "control-label col-md-4" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.Address, new { @class = "form-control", placeholder = "Enter Contact Address" })
                        @Html.ValidationMessageFor(model => model.Address)
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Role, new { @class = "control-label col-md-4" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.Role, new { @class = "form-control", placeholder = "Contact Role" })
                        @Html.ValidationMessageFor(model => model.Role)
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.PhoneNumber, new { @class = "control-label col-md-4" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.PhoneNumber, new { @class = "form-control", placeholder = "Enter Contact Mobile Number" })
                        @Html.ValidationMessageFor(model => model.PhoneNumber)
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Update" class="btn btn-primary" />
                        @Html.ActionLink("Cancel", "Index", "Home", null, new { @class = "btn btn-default" })
                    </div>
                </div>
            </div>
        }

    </div>

    <div class="col-md-4">
        <div class="card card-body">
            @if (TempData["success"] != null)
            {
                <h5 class="text-success">@TempData["success"]</h5>
            }

            @if (ViewBag.EmailConfirmed)
            {
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.ClientId)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.ClientId)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.AccessKey)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.AccessKey) <br/>@Html.ActionLink("Re-Generate Key", "AccessKey", null, null, new {@class = "btn btn-primary"})
                    </dd>
                </dl>
            }
            else
            {
                <span>Confirm your email | @Html.ActionLink("Resend Email Confirmation Link", "ResendLink", "Account", null, new {@class = "btn btn-primary"})</span>
            }


        </div>
    </div>
    <div class="col-md-2"></div>
</div>