@using System.Globalization

@*
        For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<div class="table-responsive">
    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
        <tr>
            <th>Date</th>
            <th>Client</th>
            <th>Application</th>
            <th>Service</th>
            <th>Recipients</th>
            <th>Cost</th>
        </tr>
        </thead>
        <tfoot>
        <tr>
            <th>Date</th>
            <th>Client</th>
            <th>Application</th>
            <th>Service</th>
            <th>Recipients</th>
            <th>Cost</th>
        </tr>
        </tfoot>
        <tbody>
        @if (ViewBag.Requests != null)
        {
            foreach (var item in ViewBag.Requests)
            {
                <tr>
                    <td>@item.DateCreated</td>
                    <td>@item.Application.Client.Company</td>
                    <td>@item.Application.Name</td>
                    <td>@item.Gateway.ServiceCode</td>
                    <td>@item.Recipients</td>
                    <td>@item.Cost.ToString("C", new CultureInfo("en-NG"))</td>
                </tr>
            }
        }


        </tbody>
    </table>
</div>