@model List<Softmax.XMessager.Models.ApplicationModel>
@{
    ViewBag.Title = "Manage Applications";
}

<div class="row" style="padding-top:45px">

    <div class="col-md-2"></div>
    <div class="col-md-8">
        <h2>@ViewBag.Title</h2>
        <div class="row">
            <div class="col-md-8">
              
                    @using (Html.BeginForm("Index", "Applications", FormMethod.Get, new { @class = "form-inline" }))
                    {
                         
                        <div class="form-group">
                            <div class="col-md-6">
                                <input type="text" name="q" class="form-control" placeholder="Search"/>
                            </div>
                            <div class="col-md-2">
                                <input type="submit" class="btn btn-default"/>
                            </div>
                        </div>

                    }
                 
            </div>
            <div class="col-md-4">
                <p class="pull-right">
                    @Html.ActionLink("Create New", "Create", "Applications", null, new { @class = "btn btn-primary" })
                </p>
            </div>
        </div>
       

       
        <table class="table">
            <tr>
                <th>
                    Date Created
                </th>
                <th>
                    Client
                </th>
                <th>
                   Application
                </th>
                <th>
                    AppId
                </th>
               
                <th>
                    AppKey
                </th>

                <th>
                    Status
                </th>
                <th>

                </th>
            </tr>
            @if (Model != null)
            {
                foreach (var item in Model)
                {
                    
                     <tr>
                         <td>
                             @item.DateCreated
                         </td>
                         <td>
                             @item.Client.Company
                         </td>
                         
                         <td>
                            <a href="@item.Url" target="_blank">@item.Name</a>
                         </td>
                         
                         <td>
                             @item.ApplicationId
                         </td>
                         
                         <td>
                             @item.Key
                         </td>
                         <td>
                             @if(item.IsActive){
                                 <span class="badge badge-success">Active</span>
                             } else {
                                 <span class="badge badge-danger">Inactive</span>
                             }
                     
                         </td>
                         <td>
                             @Html.ActionLink("Edit", "Edit", new { id = item.ApplicationId }, new { @class = "btn btn-outline-primary btn-sm" })
                             @Html.ActionLink("New Key", "NewKey", new {id = item.ApplicationId}, new {@class = "btn btn-outline-success btn-sm"})
                         </td>
                     </tr>
                 }
            }
        </table>
      

    </div>
    <div class="col-md-2"></div>
</div>
